<html>
<head>
    <title>Index</title>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <head>
<body class="container">

<div align="center"> <h1> Home Page </h1></div>

<div align="left">
<h2 ><a href="signup.jsp">Sign IN/UP</a></h2>
</div>

<div ng-app="myApp" ng-controller="mainController" data-ng-init="refreshShopData()" >
    <div ng-repeat="shop in shops | limitTo:12 ">
        <div class="col-md-3" style="padding-top: 50px;" style= "border-left: solid; border-top: solid;
         border-bottom: solid; border-right: solid">

                <table >
                    <tr >
                        <td class="td" >{{shop.name}}</td>
                    </tr>
                    <tr >
                        <td class="td"><img src="{{shop.picture}}" alt="{{shop.picture}}"></td>
                    </tr>
                </table>

        </div>
    </div>
</div>


<script type="text/javascript">

    var myApp = angular.module("myApp", []);
    myApp.controller("mainController", function ($scope, $http) {

        $scope.refreshShopData = function () {

            $http({
                method: 'GET',
                url: 'http://localhost:8080/shops/all'
            }).then(function successCallback(response) {
                $scope.shops = response.data;
            }, function errorCallback(response) {
                console.log(response.statusText);
            });
        }

    });
</script>


</body>
</html>